body{
    /* height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center; */
    background: url('bg.png');
    background-position: top left;
    animation: moving 15s linear infinite;

}



@keyframes moving {
   from {background-position: 0 0;}
   to {background-position: 600px 600px;}

}