body{
    /* height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center; */
    background: url('bg.png');
    height: 10vh;
    background-position: 600px 600px;
    animation: moving 2s linear infinite;

}



@keyframes moving {
   /* from {background-position: 0 0;}
   to {background-position: 600px 600px;} */

}