body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

h1{
    text-align: center;
    font-size: 200px;
    text-transform: uppercase;
    background: url(image.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: moving 12s linear infinite;
}

@keyframes moving {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
}